[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
Restart=always
RestartSec=5
PIDFile=/run/jupyter.pid
User=ece498
Group=ece498
ExecStart=/home/ece498/jetson_telloProject/scripts/jupLab_run.sh
WorkingDirectory=/home/ece498
Environment="LD_PRELOAD=/usr/lib/aarch64-linux-gnu/libgomp.so.1"

[Install]
WantedBy=multi-user.target
